body {
  background-color: #000;
  color: #c7c7c7;
}
.myContainer {
  width: 100%;
  height: 100%;
}
.row {
  margin: 0;
}
.image-container {
  position: absolute;
  z-index: -100;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.full-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.buttons {
  margin: 25px 0 0 25px;
}
.buttons .my-button {
  margin: 3px;
  font-size: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0);
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
  padding: 2px 4px 2px 4px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.buttons .my-button:hover {
  border-color: #848484;
  color: #848484;
}
.buttons .my-button:active {
  border-color: #d1d1d1;
  color: #d1d1d1;
}
.buttons .my-button:focus {
  border-color: #ebebeb;
  color: #ebebeb;
  outline: none;
}
#mapModal .modal-content {
  height: 500px;
}
#mapModal .modal-content button {
  margin: 10px;
}
#uploadModal #fileInput {
  height: 0.1px;
  width: 0.1px;
  outline: none !important;
}
#uploadModal #fileInput:focus {
  outline: none !important;
}
#uploadModal label {
  color: #141414;
  background-color: #49c486;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 3px 5px 3px 5px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
#uploadModal label:hover {
  border-color: #49c486;
}
#uploadModal .upload-progress {
  width: 0%;
  height: 20px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #49c486;
  margin-top: 10px;
}
.photo-display {
  position: fixed;
  top: 20px;
  right: 20px;
}
.photo-detail-section {
  padding: 25px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  height: 50px;
  width: 30%;
  margin-left: 70%;
  overflow: hidden;
}
.photo-detail-section ul {
  list-style-type: circle;
  padding-left: 5px;
  font-size: 16px;
}
.photo-detail-section .glyphicon-picture {
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 40px;
  color: rgba(0,0,0,0.5);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
.photo-detail-section .photo-detail {
  margin-top: 50px;
}
.photo-detail-section:hover {
  border: 1px solid rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,0.5);
  color: #141414;
  margin-left: 0%;
  height: 300px;
  width: 100%;
}
.photo-detail-section:hover .photo-detail {
  margin-top: 40px;
}
.thumbnails-area {
  width: 100%;
  height: 300px;
  position: fixed;
  bottom: -200px;
  padding: 0px 25px 0 25px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.thumbnails-area:hover {
  bottom: -50px;
}
.all-thumbnails {
  height: 125px;
  overflow: scroll;
  white-space: nowrap;
}
.my_thumbnail {
  height: auto;
  vertical-align: top;
  width: 150px;
  margin: 0 10px 0 10px;
  position: relative;
  display: inline-block;
  padding: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
.my_thumbnail button {
  position: absolute;
  top: 3px;
  right: 3px;
}
.my_thumbnail:hover {
  border: 1px solid rgba(0,0,0,0.5);
}
.strike-through {
  text-decoration: line-through;
}
